/* Definición de la fuente local */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Variables de CSS para reutilizar en tus componentes de Lit */
:root {
    --main-font: 'Montserrat', sans-serif;
    --bg-color: #1a1a1a;
    --text-color: #f2f2f2;
    --accent-color: #3a843c;
    --container-width: 90%; /* Ocupará el 90% de cualquier pantalla */
    --max-allowed-width: 1600px; /* Pero nunca más de esto para no estirar de más */
    --max-width: 1200px;
    --container-padding: 2rem;
    --tablet: 768px;
    --mobile: 480px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    background-color: var(--bg-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
}